.input{
    margin-left: 300px;
}
.inputText{
    width: 600px;
}
#buttons{
    margin-left: 470px;
    margin-top: 10px;
}
#rightbutton{
    margin-left: 15px;
}
#header{
    margin-left: 470px;
}
#load{
    margin-top: 25px;
}